<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:lang="${lang}">
    <meta charset="UTF-8">
    <title th:text="#{page.pass.title}"></title>
    <link rel="stylesheet" href="main.css">
    <style>
.result {
    font-size: 200%;
}
    </style>
</head>
<body>
<div class="section">
    <h1 th:text="#{page.pass.title}"></h1>
    <div th:replace="fragments.html :: language-selector"></div>
</div>
<hr>
<form action="/pass" method="post">
    <span>Ticket ID: </span> <input type="search" name="id" th:value="${id}">
    <input type="submit" value="Pass">
</form>

<div th:if="${check != null && check.passed}" >
    <div class="mt-3 result green">Passed</div>
    <div th:text="${check.message}"></div>
    <table class="mt-3">
        <tr>
            <th>Total entrances</th>
            <td th:text="${data.entrances.size()}"></td>
        </tr>
        <tr>
            <th>Last entrance</th>
            <td th:text="${data.entrances[data.entrances.size() - 1].date}"></td>
        </tr>
    </table>
</div>

<div th:if="${check != null && !check.passed}" >
    <div class="mt-3 result red">Not passed</div>
    <div th:text="${check.message}"></div>
</div>
</body>
</html>